<hello name="{{ name }}"></hello>
<p>Start editing to see some magic happen :)</p>
<!-- <button (click)="timer.start()">Start</button>
<button (click)="timer.stop()">Stop</button>
<div class="seconds">{{ timer.seconds }}</div>
<app-countdown-timer #timer></app-countdown-timer> -->
<!-- access child component using reference variable-->

<!-- <button (click)="start()">Start</button>
<button (click)="stop()">Stop</button>
<div class="seconds">{{ seconds() }}</div>
<app-countdown-timer></app-countdown-timer> -->
<!-- access child component using ViewChild-->

<!-- <app-missioncontrol> </app-missioncontrol> -->
<!-- <app-ad-banner [ads]="ads"></app-ad-banner> -->

<input #input value="Message" />
<button (click)="popup.showAsComponent(input.value)">Show as component</button>
<button (click)="popup.showAsElement(input.value)">Show as element</button>
